{% extends 'base.html' %}
{% load static %}

{% block title %}Reset your password{% endblock %}

{% block stylesheet %}
  <link rel="stylesheet" href="{% static 'css/accounts.css' %}">
{% endblock %}

{% block body %}
<h1 class="text-center logo my-4"><a href="{% url 'home' %}">Makers Boards</a> </h1>
  <div class="row justify-content-center">
    <div class="col-lg-4 col-md-6 col-sm-8">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Change password was successful</h3>
          <p>Your password has been successful changed</p>
          <button class="btn btn-success"><a href="{% url 'home' %}">Return to home</a> </button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}