{% extends 'base.html' %}
{% load static %}

{% block title %}Reset your password{% endblock %}

{% block stylesheet %}
  <link rel="stylesheet" href="{% static 'css/accounts.css' %}">
{% endblock %}

{% block body %}
    <h1 class="text-center logo my-4">
        <a href="{% url 'home' %}">Makers Boards</a>
    </h1>
    <div class="row justify-content-center">
        <div class="col-lg-4 col-md-10 col-sm-10">
            <div class="card">
                <div class="card-body">
                     <h2>Change Password</h2>
                        <form method="post">
                            {% csrf_token %}
                            {% include 'includes/form.html' %}

                            <a href="{% url 'home' %}">Back</a>
                            <button type="submit" class="btn btn-submit"><a href="{% url 'change_done' %}">Change password</a></button>
                        </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}